/wp-admin/
/wp-includes/
/wp-content/uploads/
/wp-content/cache/
wp-config.php
*.bak
*.tmp
.env
.vagrant/
.idea/
.DS_Store
Thumbs.db
*.log
/wp-content/plugins/advanced-custom-fields/
/wp-content/plugins/akismet/
/wp-content/plugins/woocommerce/
/wp-content/plugins/hello
/wp-content/themes/*
